*{
    box-sizing: border-box;
}
@font-face{
src: url(../fonts/BMJUA_otf.otf);
font-family: "jua";
}
body{
    background-color: #f0e8d9;
}
ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border : 0;
    float: left;
}
h1{
    font-size: 64px;
    font-family: "jua";
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #58595b;
}
h2{
    font-size: 32px;
    font-family: "jua";
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: #58595b;
}
.game{
    background-color: white;
    width: 280px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    font-family: "jua";
    color: #58595b;
    float: left;
}
.m_right{
margin-right: 15px;
margin-left: 15px;

}
.game img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.game h3{
    font-size: 32px;
    margin: 0px 0px 10px 0px;
}
.game p{
 text-align: left;
    margin: 0px 0px 16px 0px;
}
.game a{
text-decoration: none;
    color: #0000ee;
}
.info{
padding-top: 5px;
padding-bottom: 20px;
padding-right: 10px;
padding-left: 20px;
}
.clearfix{
clear: both;
}
.menu{
    font-family: "jua";
    font-size: 16px;
    word-spacing: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    }
.menu ul{
    display: inline-block;
}
.menu button{
    font-family: "jua";
    background: #ce8f1c;
  border-radius: 100px;
  color: white;
  padding: 10px 68px;
  cursor: pointer;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.menu button :visited{
    background-color:#58595b;
    color:skyblue;
}